.button {
    border: none;
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding: 0.9em 1.4em;
    border-radius: 0.6em;
    
    background-color: var(--accent-color);
    color: var(--gray-50);
    
    cursor: pointer;
    transition: background-color var(--transition-duration-color);

    &:hover {
        background-color: var(--accent-color-hover);
    }

    &:disabled {
        background-color: var(--gray-100);
    }
}
