.loading {
    padding: 4rem;

    display: flex;
    justify-content: center;

    svg {
        width: 10rem;
        height: 10rem;

        circle {
            stroke: var(--accent-color);
        }
    }
}
