:global {
    body[data-theme='dark'] {
        --switcher-color: var(--white);
        --switcher-color-hover: var(--gray-100);
    }
    
    body[data-theme='light'] {
        --switcher-color: var(--gray-100);
        --switcher-color-hover: var(--gray-300);
    }
}

.themeSwitcher {
    svg {
        width: 1.25rem;
        height: 1.25rem;
        
        fill: var(--switcher-color);
        transition: var(--transition-duration-color) fill;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;

        display: flex;
        align-items: center;
        gap: 0.9rem;

        color: var(--switcher-color);
        transition: var(--transition-duration-color) color;
    }

    &:hover {
        --switcher-color: var(--switcher-color-hover);
    }
}